<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.xiaozhi.autostart</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/nguyenduchoai/Desktop/Github/py-xiaozhi-pi/scripts/autostart_xiaozhi.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <false/>
    
    <key>StandardOutPath</key>
    <string>/Users/nguyenduchoai/Desktop/Github/py-xiaozhi-pi/logs/launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/nguyenduchoai/Desktop/Github/py-xiaozhi-pi/logs/launchd-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
